<!DOCTYPE html>
<html>
    <head>
        <title>Progressive Web App Demo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/app.css" />
    </head>
    <body>
        <!-- Header -->
        <% include ./appshell/header %>

        <!-- Main content -->
        <% include ./appshell/content %>

        <!-- Footer -->
        <% include ./appshell/footer %>

        <!-- Player -->
        <% include ./appshell/player %>

        <div class="loader-shell">
            <div class="spinner-icon">
                <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
                </svg>
            </div>
        </div>
        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script src="/static/js/app.js"></script>
    </body>
</html>