<footer>
    <div class="footer-text">Progressive Web App footer</div>
    <div class="resource-links">
        <a href="https://github.com/sachinsingh-nodejs/pwa" target="_new">Repository</a>
    </div>
</footer>