<header>
    <div class="hamburger-icon">
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
        <div class="icon-bar"></div>
    </div>
    <h1>Progressive Web App Demo</h1>
</header>