<div class="ytPlayer">
    <span class="ytPlayerDismiss glyphicon glyphicon-chevron-left"></span>
    <div class="ytVideo" id="ytVideo">
    </div>
    <div class="ytVideoLoader">
        <div class="loader">
        </div>
    </div>
    <div class="ytDescriptionSection">
        <div class="ytTitle">Title</div>
        <div class="ytDescription">Description</div>
    </div>
</div>