<div class="ytPlayer">
    <div class="ytVideo">
    </div>
    <div class="ytVideoLoader">
        <div class="loader">
        </div>
    </div>
    <div class="ytDescriptionSection">
        <div class="ytTitle">Title</div>
        <div class="ytDescription">Description</div>
    </div>
</div>