<div class="ytPlayer">
    <div class="ytVideo">
    </div>
    <div class="ytDescriptionSection">
        <div class="ytTitle"></div>
        <div class="ytDescriptionSection"></div>
    </div>
</div>